<nb-card>
    <nb-card-body>
        <form>
            <div class="row">
                <div class="col-12">
                    <label class="label">Schema</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label class="label">Version</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
                <div class="col-sm-6">
                    <label class="label">StartMode</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>