<div class="table-container">
    <table style="min-width: 100%;">
        <thead style="background-color: #F9FAFB;         ">
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Created By
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>JALIN_PAYMENT</td>
                <td>training3@renovite.com</td>
                <td class="mx-auto">
                    <nb-icon routerLink="edit" icon="edit-outline"></nb-icon>
                    <nb-icon class="ml-3" icon="cloud-download-outline"></nb-icon>
                    <nb-icon class="ml-3" icon="trash-2-outline"></nb-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>