<nb-card>
    <nb-card-header>
        <h3>New Schema</h3>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="General Info">
              <ngx-schema-create-table></ngx-schema-create-table>
            </nb-tab>
            <nb-tab tabTitle="Parameter">
              Tab content 2
            </nb-tab>
           </nb-tabset>
           <div class="mx-auto">
               <button class="btn btn-primary">Create</button>
               <button class="btn btn-danger ml-3">Close</button>
           </div>
    </nb-card-body>
</nb-card>