<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <nb-icon icon="cube"></nb-icon>
                        </div>
                        <div class="media-body text-right">
                            <h3>9</h3>
                            <span>Schema</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <nb-icon icon="npm"></nb-icon>
                        </div>
                        <div class="media-body text-right">
                            <h3>3</h3>
                            <span>Suite</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <nb-icon icon="code"></nb-icon>
                        </div>
                        <div class="media-body text-right">
                            <h3>17</h3>
                            <span>Script</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <nb-icon icon="settings-2"></nb-icon>
                        </div>
                        <div class="media-body text-right">
                            <h3>4</h3>
                            <span>Load Generator</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>