<nb-card>
    <nb-card-body>
        <form action="">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="label">Name</label>
                        <input type="text" nbInput fullWidth placeholder="Script Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="" class="label">Script Option</label>
                    <div class="form-group">
                        <input type="checkbox" id="">
                        <label for="" class="label ml-2">Reusable</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="" class="label">Description</label>
                        <textarea placeholder="Description" nbInput fullWidth rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="label">Type</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
                <div class="col-sm-4">
                    <label class="label">Priority</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
                <div class="col-sm-4">
                    <label class="label">Version</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>