<nb-card>
    <nb-card-body>
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <label class="label">Request Type</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                    </nb-select>
                </div>
                <div class="col-lg-12 mt-4">
                    <p>End Point Host Configuration</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>Agent</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
                <div class="col-lg-12 mt-4">
                    <p>Keystore Configuration</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nb-checkbox>Upload</nb-checkbox>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <label>Data Security Configuration</label>
                    <nb-select matRipple fullWidth selected="1">
                        <nb-option matRipple value="1">Option 1</nb-option>
                        <nb-option matRipple value="2">Option 2</nb-option>
                      </nb-select>
                </div>
                <div class="col-lg-12 mt-3">
                    <label>Master Key</label>
                    <input type="text" nbInput fullWidth>
                </div>
                <div class="col-lg-12 mt-3">
                    <label>Pin Key</label>
                    <input type="text" nbInput fullWidth>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <p>Response Delay Configuration</p>
                </div>
                <div class="col-sm-6 mt-3">
                    <label>Response Timeout</label>
                    <input type="text" nbInput fullWidth>
                </div>
                <div class="col-sm-6 mt-3">
                    <label>Response Delay</label>
                    <input type="text" nbInput fullWidth>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>