<nb-card>
    <nb-card-body>
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <label class="label">Name</label>
                    <input type="text" nbInput fullWidth="" placeholder="Card Repository Name">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label for="" class="label">Type</label>
                    <nb-select matRipple fullWidth="" selected="1">
                        <nb-option matRipple value="1">1</nb-option>
                        <nb-option matRipple value="2">2</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-6">
                    <label for="" class="label">Category</label>
                    <nb-select matRipple fullWidth="" selected="1">
                        <nb-option matRipple value="1">1</nb-option>
                        <nb-option matRipple value="2">2</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label for="" class="label">Number</label>
                    <input type="text" nbInput fullWidth="" placeholder="Card Number">
                </div>
                <div class="col-sm-6">
                    <label for="" class="label">Expiry Date (MMYY)</label>
                    <input type="text" nbInput fullWidth="" placeholder="Expiry Date in MMYY Format">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-6">
                    <label for="" class="label">CVV2</label>
                    <input type="text" nbInput fullWidth="" placeholder="Card CVV2">
                </div>
                <div class="col-sm-6">
                    <label for="" class="label">Pin</label>
                    <input type="text" nbInput fullWidth="" placeholder="Card Pin">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <label for="" class="label">Track 1</label>
                    <input type="text" nbInput fullWidth="" placeholder="Track 1">
                </div>
                <div class="col-lg-12 mt-3">
                    <label for="" class="label">Track 2</label>
                    <input type="text" nbInput fullWidth="" placeholder="Track 2">
                </div>
                <div class="col-lg-12 mt-3">
                    <label for="" class="label">Track 3</label>
                    <input type="text" nbInput fullWidth="" placeholder="Track 3">
                </div>
                <div class="col-lg-12 mt-3">
                    <label for="" class="label">EMV Tag</label>
                    <textarea rows="5" nbInput fullWidth  placeholder="Text Area"></textarea>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>